.container{
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 0 auto;
    width: 400px;
    height: 200px;
    top: 100px;

}
.slider{ 
    height: 200px;
    background-color: aqua;
    
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}
.slides{
    width: 300%;
    transition: all 0.5s;
}
.slides img{
    height: 200px;
    width: 400px;
    float: left;
}
.TextAndBtn{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.buttons{
    visibility: hidden;
}
.container-L{
    width: 200px;
    height: 10px;
    display: flex;
    justify-content: space-between;
}
label{
    height: 10px;
    width: 30px;
    border: solid 1px;
    cursor: pointer;
    transition: all ease .5s;
    
}
label:hover{
    background-color: black;
}


.slider{
    overflow: hidden;
}

#s1:checked ~ .slider > #s1,
#s2:checked ~ .slider > #s2{
    opacity: 1;
    z-index: 1;
    transform: scale(1);
}